<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">

    </head>

    <body>
        {{>header}}
        <div id="main_content_about">
            <div id="abuot_text">
                <p>This website is designed Using Node.js and API support from mapbox.com and Weather stack.com</p>
                <p>Handlebars and Express.js is used for front-end and request dependency along with javascript ES6 for backend.</p>
                <p>Visit <a href="https://github.com/justprateek/weatherApp" target="blank">Github</a> to download the codes</p>
            </div>
            {{!-- <p>this is the {{title}} page</p> --}}
        </div>
        {{!-- {{>footer}} --}}
    </body>
</html>