<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        {{>header}}
        <div id="main_content_portfolio">
           
           <p>Click on this link to visit the <a href="https://prateek-portfolio.herokuapp.com/" target="blank">Portfolio website</a></p>
        </div>
        {{!-- {{>footer}} --}}
    </body>
</html>