
<div class="header">
    <div id="header_text">
        Weather Forecast
    </div>
<div class="header_right">

    <a class="header_link" href="/">Weather</a>
    <a class="header_link" href="./portfolio">Portfolio</a>
    <a class="header_link" href="./about">About</a>

</div>

</div>